apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    openshift.io/host.generated: "true"
  labels:
    app: quarkusrobotshop-web
    app.kubernetes.io/component: quarkusrobotshop-web
    app.kubernetes.io/instance: quarkusrobotshop-web
    app.kubernetes.io/name: ""
    app.kubernetes.io/part-of: quarkus-robot
    app.openshift.io/runtime: ""
    app.openshift.io/runtime-version: latest
    jeremydavis/quarkusrobotshop-web: ""
  name: quarkusrobotshop-web
  namespace: {{ project_namespace }}
spec:
  host: quarkusrobotshop-web-{{ project_namespace }}.apps.{{ domain }}
  port:
    targetPort: 8080-tcp
  to:
    kind: Service
    name: quarkusrobotshop-web
    weight: 100
  wildcardPolicy: None